<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WUCC 2018 Men's</title>
  <link href="https://fonts.googleapis.com/css?family=Exo+2|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <h3 class="tournament">{{ tournament }}</h3>
      <h4 class="twitter">@MatesUlti</h4>
      <h2 class="title">{{ title }}</h2>
      <h3 class="pool-title">Pools</h3>
      <div class="pools-section pools-container">
        <pool-results v-for="pool in poolData" :pool-results="pool.teams" :pool="pool.name" @change-order="updatePowerPoolInitialData"></pool-results>
      </div>
      <h3 class="p-pool-title">Power Pools</h3>
      <div class="p-pools-section pools-container">
        <pool-results v-for="pool in powerPoolData" :pool-results="pool.teams" :pool="pool.name" @change-order="updateBracketInitialData"></pool-results>
      </div>
      <h3 class="bracket-title">Bracket</h3>
      <bracket :teams="teamsAfterPowerPools" :initial-rounds="rounds"></bracket>
    </div>
  </div>

  <script type="text/x-template" id="pool-results-template">
    <div class="pool-results-container">
      <div class="header-row row">
        <span class="name-col">Pool {{ pool }}</span>
      </div>
      <draggable @change="$emit('change-order')" :list="poolResults" class="dragArea">
        <div class="row body-row" v-for="team in poolResults">
          <span class="name-col">{{ team }} ({{ seedForTeam(team) }})</span>
        </div>
      </draggable>
    </div>
  </script>

  <script type="text/x-template" id="bracket-template">
    <div class="bracket-container">
      <div class="round" v-for="(round, roundIdx) in roundsWithTeams">
        <div class="match" v-for="(match, matchIdx) in round" :class="{ bye: match.bye }">
          <div class="team-container team-top">
            <span class="team" :class="{ selected: match.selected === 0 }" @click="onSelectWinner(0, matchIdx, roundIdx)">{{ match.teams[0] }}</span>
          </div>
          <div class="match-info">{{ match.info }}</div>
          <div class="team-container team-bottom">
            <span class="team" :class="{ selected: match.selected === 1 }" @click="onSelectWinner(1, matchIdx, roundIdx)">{{ match.teams[1] }}</span>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
